<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Proyecto_TP_Integrador.Properties.Settings.ProyectoPAVIConnectionString"
   connectionString="Data Source=DESKTOP-K7FE51D\SQLEXPRESS;Initial Catalog=ProyectoPAVI;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <appSettings>
		<add key="CadenaBD" value="Data Source=DESKTOP-K7FE51D\SQLEXPRESS;Initial Catalog=ProyectoPAVI;Integrated Security=True"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>