USE master
GO
/****** Object:  Database [ProyectoPAVI]    Script Date: 15/11/2022 18:56:52 ******/
CREATE DATABASE ProyectoPAVI
USE PAV
GO
CREATE TABLE [dbo].[bebidas](
	[IdBebida] [int] IDENTITY(1,1) NOT NULL,
	[NombreBebida] [varchar](50) NOT NULL,
	[DescripcionBebida] [varchar](50) NULL,
	[PrecioBebida] [int] NULL,
	[EstadoBorrado] [bit] NOT NULL,
 CONSTRAINT [PK_bebidas] PRIMARY KEY CLUSTERED 
(
	[IdBebida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[NomCliente] [varchar](50) NOT NULL,
	[ApeCliente] [varchar](50) NOT NULL,
	[TipoDoc] [varchar](50) NOT NULL,
	[NumeroDoc] [varchar](50) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Altura] [varchar](50) NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[IdLocalidad] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[EstadoBorrado] [bit] NOT NULL,
 CONSTRAINT [PK_clientes] PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallefactura]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallefactura](
	[IdDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NULL,
	[Precio] [int] NULL,
	[EstadoBorrado] [bit] NULL,
	[Descripcion] [varchar](50) NULL,
	[Mesa] [int] NULL,
 CONSTRAINT [PK_detallefactura] PRIMARY KEY CLUSTERED 
(
	[IdDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[NomEstado] [varchar](50) NULL,
	[DescripcionEstado] [varchar](50) NULL,
 CONSTRAINT [PK_estados] PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdMedioPago] [varchar](50) NOT NULL,
	[Fecha] [datetime] NULL,
	[EstadoBorrado] [bit] NOT NULL,
	[IdSucursal] [int] NOT NULL,
	[Total] [int] NOT NULL,
 CONSTRAINT [PK_facturas] PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[localidades]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidades](
	[IdLocalidad] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[NomLocalidad] [varchar](250) NOT NULL,
 CONSTRAINT [PK_localidades] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdMesa] [int] NOT NULL,
	[IdPlato] [int] NULL,
	[IdBebida] [int] NULL,
	[IdEstado] [int] NULL,
	[EstadoBorrado] [bit] NOT NULL,
	[IdFactura] [int] NULL,
	[FechaPedido] [datetime] NULL,
 CONSTRAINT [PK_pedidos] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[platos]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[platos](
	[IdPlato] [int] IDENTITY(1,1) NOT NULL,
	[NombrePlato] [varchar](80) NOT NULL,
	[DescripcionPlato] [varchar](120) NULL,
	[PrecioPlato] [int] NULL,
	[EstadoBorrado] [bit] NOT NULL,
 CONSTRAINT [PK_platos] PRIMARY KEY CLUSTERED 
(
	[IdPlato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincias]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincias](
	[IdProvincia] [int] NOT NULL,
	[NomProvincia] [varchar](150) NOT NULL,
 CONSTRAINT [PK_provincias] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puestos]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puestos](
	[IdPuesto] [int] IDENTITY(1,1) NOT NULL,
	[NomPuesto] [varchar](50) NULL,
	[DescripcionPuesto] [varchar](100) NULL,
	[EstadoBorrado] [bit] NOT NULL,
 CONSTRAINT [PK_puestos] PRIMARY KEY CLUSTERED 
(
	[IdPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[NomSucursal] [varchar](50) NOT NULL,
	[TelSucursal] [varchar](50) NULL,
	[CalleSucursal] [varchar](50) NULL,
	[NroSucursal] [varchar](50) NULL,
	[LocSucursal] [varchar](50) NULL,
	[PaisSucursal] [varchar](50) NULL,
	[EstadoBorrado] [bit] NOT NULL,
 CONSTRAINT [PK_sucursales] PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreDeUsuario] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[NomEmpleado] [varchar](50) NULL,
	[ApeEmpleado] [varchar](50) NULL,
	[Telefono] [varchar](50) NULL,
	[Calle] [varchar](50) NULL,
	[Numero] [varchar](50) NULL,
	[Pais] [varchar](50) NULL,
	[Provincia] [int] NULL,
	[Localidad] [int] NULL,
	[IdPuesto] [int] NOT NULL,
	[IdSucursal] [int] NOT NULL,
	[EstadoBorrado] [bit] NOT NULL,
	[FechaIngreso] [datetime] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bebidas] ON 

INSERT [dbo].[bebidas] ([IdBebida], [NombreBebida], [DescripcionBebida], [PrecioBebida], [EstadoBorrado]) VALUES (1, N'Coca Cola 1L', NULL, 250, 1)
INSERT [dbo].[bebidas] ([IdBebida], [NombreBebida], [DescripcionBebida], [PrecioBebida], [EstadoBorrado]) VALUES (2, N'Sprite 1L', NULL, 250, 1)
INSERT [dbo].[bebidas] ([IdBebida], [NombreBebida], [DescripcionBebida], [PrecioBebida], [EstadoBorrado]) VALUES (3, N'Agua 1L', NULL, 150, 1)
SET IDENTITY_INSERT [dbo].[bebidas] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([IdCliente], [NomCliente], [ApeCliente], [TipoDoc], [NumeroDoc], [Calle], [Altura], [Pais], [IdLocalidad], [IdProvincia], [EstadoBorrado]) VALUES (1, N'Marcos', N'Galván', N'DNI', N'22564789', N'2541', N'2541', N'Argentina', 507, 7, 1)
INSERT [dbo].[clientes] ([IdCliente], [NomCliente], [ApeCliente], [TipoDoc], [NumeroDoc], [Calle], [Altura], [Pais], [IdLocalidad], [IdProvincia], [EstadoBorrado]) VALUES (2, N'Gabriela', N'Totti', N'DNI', N'43567891', N'4875', N'4875', N'Argentina', 18, 1, 1)
INSERT [dbo].[clientes] ([IdCliente], [NomCliente], [ApeCliente], [TipoDoc], [NumeroDoc], [Calle], [Altura], [Pais], [IdLocalidad], [IdProvincia], [EstadoBorrado]) VALUES (3, N'Carlos', N'Quintana', N'DNI', N'22465798', N'2546', N'2546', N'Argentina', 530, 7, 1)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[detallefactura] ON 

INSERT [dbo].[detallefactura] ([IdDetalleFactura], [IdFactura], [Precio], [EstadoBorrado], [Descripcion], [Mesa]) VALUES (1, 1, 900, 0, N'Pizza Napolitana', 1)
INSERT [dbo].[detallefactura] ([IdDetalleFactura], [IdFactura], [Precio], [EstadoBorrado], [Descripcion], [Mesa]) VALUES (2, 1, 0, 0, N'-', 1)
INSERT [dbo].[detallefactura] ([IdDetalleFactura], [IdFactura], [Precio], [EstadoBorrado], [Descripcion], [Mesa]) VALUES (3, 1, 900, 0, N'Hamburguesa con papas fritas', 1)
SET IDENTITY_INSERT [dbo].[detallefactura] OFF
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([IdEstado], [NomEstado], [DescripcionEstado]) VALUES (1, N'Pendiente', NULL)
INSERT [dbo].[estados] ([IdEstado], [NomEstado], [DescripcionEstado]) VALUES (2, N'Preparacion', NULL)
INSERT [dbo].[estados] ([IdEstado], [NomEstado], [DescripcionEstado]) VALUES (3, N'Listo', NULL)
SET IDENTITY_INSERT [dbo].[estados] OFF
GO
SET IDENTITY_INSERT [dbo].[facturas] ON 

INSERT [dbo].[facturas] ([IdFactura], [IdCliente], [IdMedioPago], [Fecha], [EstadoBorrado], [IdSucursal], [Total]) VALUES (1, 1, N'Efectivo', CAST(N'2022-10-26T00:00:00.000' AS DateTime), 1, 2, 2050)
INSERT [dbo].[facturas] ([IdFactura], [IdCliente], [IdMedioPago], [Fecha], [EstadoBorrado], [IdSucursal], [Total]) VALUES (2, 2, N'Efectivo', CAST(N'2022-10-30T00:00:00.000' AS DateTime), 1, 3, 2350)
INSERT [dbo].[facturas] ([IdFactura], [IdCliente], [IdMedioPago], [Fecha], [EstadoBorrado], [IdSucursal], [Total]) VALUES (3, 3, N'Debito', CAST(N'2022-11-02T00:00:00.000' AS DateTime), 1, 2, 1400)
SET IDENTITY_INSERT [dbo].[facturas] OFF
GO
INSERT [dbo].[localidades] ([IdLocalidad], [IdProvincia], [NomLocalidad]) VALUES (1, 1, N'25 de Mayo')
INSERT [dbo].[localidades] ([IdLocalidad], [IdProvincia], [NomLocalidad]) VALUES (2, 1, N'3 de febrero')
INSERT [dbo].[localidades] ([IdLocalidad], [IdProvincia], [NomLocalidad]) VALUES (3, 1, N'A. Alsina')
GO
SET IDENTITY_INSERT [dbo].[pedidos] ON 

INSERT [dbo].[pedidos] ([IdPedido], [IdMesa], [IdPlato], [IdBebida], [IdEstado], [EstadoBorrado], [IdFactura], [FechaPedido]) VALUES (1, 1, 1, 1, 4, 0, 1, CAST(N'2022-10-26T00:00:00.000' AS DateTime))
INSERT [dbo].[pedidos] ([IdPedido], [IdMesa], [IdPlato], [IdBebida], [IdEstado], [EstadoBorrado], [IdFactura], [FechaPedido]) VALUES (2, 1, 3, 4, 2, 1, NULL, CAST(N'2022-10-26T00:00:00.000' AS DateTime))
INSERT [dbo].[pedidos] ([IdPedido], [IdMesa], [IdPlato], [IdBebida], [IdEstado], [EstadoBorrado], [IdFactura], [FechaPedido]) VALUES (3, 1, 6, 6, 4, 0, 1, CAST(N'2022-10-26T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[platos] ON 

INSERT [dbo].[platos] ([IdPlato], [NombrePlato], [DescripcionPlato], [PrecioPlato], [EstadoBorrado]) VALUES (1, N'Hamburguesa con papas fritas', N'Medallon de 150grs, queso cheddar, tomate, lechuga y mayonesa casera', 900, 1)
INSERT [dbo].[platos] ([IdPlato], [NombrePlato], [DescripcionPlato], [PrecioPlato], [EstadoBorrado]) VALUES (2, N'Milanesa con pure', N'', 1000, 1)
INSERT [dbo].[platos] ([IdPlato], [NombrePlato], [DescripcionPlato], [PrecioPlato], [EstadoBorrado]) VALUES (3, N'Ensalada', N'Lechuga, Tomate, y Vinagre', 600, 1)
SET IDENTITY_INSERT [dbo].[platos] OFF
GO
INSERT [dbo].[provincias] ([IdProvincia], [NomProvincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[provincias] ([IdProvincia], [NomProvincia]) VALUES (2, N'Buenos Aires-GBA')
INSERT [dbo].[provincias] ([IdProvincia], [NomProvincia]) VALUES (3, N'Capital Federal')
GO
SET IDENTITY_INSERT [dbo].[puestos] ON 

INSERT [dbo].[puestos] ([IdPuesto], [NomPuesto], [DescripcionPuesto], [EstadoBorrado]) VALUES (1, N'Encargado', N'Responsable de todo el personal presente en el local', 1)
INSERT [dbo].[puestos] ([IdPuesto], [NomPuesto], [DescripcionPuesto], [EstadoBorrado]) VALUES (2, N'Cajero', N'Responsable del manejo de la caja, dinero y cobros', 1)
INSERT [dbo].[puestos] ([IdPuesto], [NomPuesto], [DescripcionPuesto], [EstadoBorrado]) VALUES (3, N'Mozo', N'Responsable de la atencion al publico y servir', 1)
SET IDENTITY_INSERT [dbo].[puestos] OFF
GO
SET IDENTITY_INSERT [dbo].[sucursales] ON 

INSERT [dbo].[sucursales] ([IdSucursal], [NomSucursal], [TelSucursal], [CalleSucursal], [NroSucursal], [LocSucursal], [PaisSucursal], [EstadoBorrado]) VALUES (1, N'General Paz', N'351332233', N'25 de mayo', N'935', N'Cordoba', N'Argentina', 0)
INSERT [dbo].[sucursales] ([IdSucursal], [NomSucursal], [TelSucursal], [CalleSucursal], [NroSucursal], [LocSucursal], [PaisSucursal], [EstadoBorrado]) VALUES (2, N'Nueva Cordoba', N'351768965', N'Crisol', N'93', N'Cordoba', N'Argentina', 1)
INSERT [dbo].[sucursales] ([IdSucursal], [NomSucursal], [TelSucursal], [CalleSucursal], [NroSucursal], [LocSucursal], [PaisSucursal], [EstadoBorrado]) VALUES (3, N'Parque Sarmiento', N'351239854', N'Deodoro Roca', N'512', N'Cordoba', N'Argentina', 1)
SET IDENTITY_INSERT [dbo].[sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([IdUsuario], [NombreDeUsuario], [Password], [NomEmpleado], [ApeEmpleado], [Telefono], [Calle], [Numero], [Pais], [Provincia], [Localidad], [IdPuesto], [IdSucursal], [EstadoBorrado], [FechaIngreso]) VALUES (1, N'Administrador', N'alfa567', N'Marcelo', N'Benítez', N'3514258496', N'Av.Colón', N'2056', N'Argentina', 7, 592, 1, 2, 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime))
INSERT [dbo].[usuarios] ([IdUsuario], [NombreDeUsuario], [Password], [NomEmpleado], [ApeEmpleado], [Telefono], [Calle], [Numero], [Pais], [Provincia], [Localidad], [IdPuesto], [IdSucursal], [EstadoBorrado], [FechaIngreso]) VALUES (2, N'Marta', N'marta8564', N'Marta', N'González', N'3512645978', N'Las Flores', N'4879', N'Argentina', 12, 1354, 4, 3, 1, CAST(N'2022-06-13T00:00:00.000' AS DateTime))
INSERT [dbo].[usuarios] ([IdUsuario], [NombreDeUsuario], [Password], [NomEmpleado], [ApeEmpleado], [Telefono], [Calle], [Numero], [Pais], [Provincia], [Localidad], [IdPuesto], [IdSucursal], [EstadoBorrado], [FechaIngreso]) VALUES (3, N'Tomás', N'tomas6489', N'Tomás', N'Galván', N'3513091995', N'Pencales', N'2587', N'Argentina', 3, 307, 4, 3, 1, CAST(N'2022-07-21T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
ALTER TABLE [dbo].[facturas] ADD  CONSTRAINT [DF_facturas_Total]  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[localidades]  WITH CHECK ADD  CONSTRAINT [FK_localidades_provincias] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[provincias] ([IdProvincia])
GO
ALTER TABLE [dbo].[localidades] CHECK CONSTRAINT [FK_localidades_provincias]
GO
ALTER TABLE [dbo].[puestos]  WITH CHECK ADD  CONSTRAINT [FK_puestos_puestos] FOREIGN KEY([IdPuesto])
REFERENCES [dbo].[puestos] ([IdPuesto])
GO
ALTER TABLE [dbo].[puestos] CHECK CONSTRAINT [FK_puestos_puestos]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_puestos] FOREIGN KEY([IdPuesto])
REFERENCES [dbo].[puestos] ([IdPuesto])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_puestos]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_sucursales] FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[sucursales] ([IdSucursal])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_sucursales]
GO
/****** Object:  StoredProcedure [dbo].[bajaBebida]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bajaBebida]
@IdBebida BIGINT
AS
BEGIN
UPDATE bebidas SET EstadoBorrado = 0
WHERE IdBebida = @IdBebida
END
GO
/****** Object:  StoredProcedure [dbo].[bajaPedido]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bajaPedido]
@id BIGINT
AS
BEGIN
UPDATE pedidos SET EstadoBorrado = 0
WHERE IdPedido = @id
END
GO
/****** Object:  StoredProcedure [dbo].[bajaPlato]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bajaPlato]
@IdPlato BIGINT
AS
BEGIN
UPDATE platos SET EstadoBorrado = 0
WHERE IdPlato = @IdPlato
END
GO
/****** Object:  StoredProcedure [dbo].[bajaPuesto]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bajaPuesto]
@IdPuesto BIGINT
AS
BEGIN
UPDATE puestos SET EstadoBorrado = 0
WHERE IdPuesto = @IdPuesto
END
GO
/****** Object:  StoredProcedure [dbo].[bajaSucursal]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bajaSucursal]
@IdSucursal BIGINT
AS
BEGIN
UPDATE sucursales SET EstadoBorrado = 0
WHERE IdSucursal = @IdSucursal
END
GO
/****** Object:  StoredProcedure [dbo].[bajaUsuario]    Script Date: 15/11/2022 18:56:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[bajaUsuario]
@idUsu BIGINT
AS
BEGIN
UPDATE usuarios SET EstadoBorrado = 0
WHERE IdUsuario = @idUsu
END
GO
USE [master]
GO
